/* Fuentes */

@font-face {
    font-family: 'Dr.Marz';
    src: url('fonts/Dr.Marz.otf') format('truetype'),
        ('fonts/Dr.Marz_i.otf') format('truetype'),
        ('fonts/Dr.Marz_bd.otf') format('truetype'),
        ('fonts/Dr.Marz_bdi.otf') format('truetype');
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: 'FuturaHandwritten';
    src: url('fonts/FuturaHandwritten.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


/* General */

html,
body {
    padding: 0%;
    min-height: 100vh;
    background-color: mintcream;
}

.nav {
    margin: 15% 0%;
}

.col-auto {
    margin: 0 0 2% 0;
    background-color: rgb(69, 71, 70);
    border-radius: 0px 0px 5px 5px;
    border-block-start-width: 10px;
    border-block-start-style: solid;
    border-block-start-color: pink;
    height: 75vh;
    width: 5vw;
}

.col-9 {

    padding: 3% 3%;
    background-color: lightblue;
    border-radius: 0% 30% 5% 30%;

}

.imgnav {
    height: 75px;
    width: 75px;
    margin: 15% 0%;
}

.imgnav:hover {
    height: 100px;
    width: 100px;
}

/* Index */
.clearfix {
    font-family: 'FuturaHandwritten';
}

/* Proyectos */
table thead tr {
    font-family: "Dr.Marz";
}

table tbody tr {
    font-family: "Dr.Marz";
}

.icon {
    height: 30px;
    width: 30px;
}

/* Tecnologias */

.iconTech {
    margin: 5% 0% 5% 0%;
    height: 50px;
    width: 50px;
}

/*Cursos*/


.iconCur {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 60vh;
    width: 100%;
    display: block;
}

/* Pie de pagina */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: rgb(69, 71, 70);
    border-block-end-width: 10px;
    border-block-end-style: solid;
    border-block-end-color: pink;
    text-align: center;
}

.imgfooter {
    margin: 2%;
    height: 35px;
    width: 35px;
}